<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}" th:with="link=@{/cliente/home}"
>

<body>
	<div layout:fragment="content">

	   <form id="form" method="get" th:object="${searchFilter}" th:action="@{/cliente/search}">
			<input id="searchType" type="hidden" th:field="*{searchType}"/>
		    <input id="categoriaId" type="hidden" th:field="*{categoriaId}"/>
		    
		    <div>
		        <h1>É hora de rangar!</h1>
		        
		            <fieldset>            
		                <input type="text" th:field="*{texto}" placeholder="Buscar por..."/>
		                <input type="button" value="Procurar" onclick="searchRest(null);" />
		            </fieldset>
		        
		    </div>
		
		    <div id="divCategoriasComidaGeral">
		        <div id="divCategoriasComidaOpcao" th:each="categoria: ${categorias}">
		            <a href="#" th:onclick="'searchRest(' + ${categoria.id} + ');'">
		                <img id="imgCategoriaComida" th:src="@{/images/categoria/} + ${categoria.imagem}"/><br/>
		                <span th:text="${categoria.nome}"></span>
		            </a>
		        </div>
		    </div>
	    </form>
	    
	    <div>
	        <h1>Resultados</h1>
	        <fieldset>
	            <legend>Filtros</legend>
	            <input type="button" value="Entrega Grátis"/><br/>
	            <input type="button" value="Maior preço"/> <input type="button" value="Menor preço"/><br/>
	            <input type="button" value="Maior taxa"/> <input type="button" value="Menor taxa"/><br/>
	            <input type="button" value="Maior tempo"/> <input id="inputSelecionado" type="button" value="Menor tempo"/><br/>
	        </fieldset>
	    </div>
	
	    <div id="divRestaurantesgeral">
	        <div id="divRestauranteOpcao" th:each="restaurante : ${restaurantes}">
	            <a href="clienteRestaurante.html">
	                <img id="imgRestauranteOpcao" th:src="@{/images/logotipo/} + ${restaurante.logotipo}"/><br/>
	                <span id="restauranteOpcaoTitulo" th:text="${restaurante.nome}"></span><br/>
	                <span th:text="${restaurante.categoriaAsText}"></span><br/>
	                <span th:text="'Tempo médio de entrega: ' + ${restaurante.tempoEntregaBase} + 'm'"></span><br/>
	                <span th:text="'Taxa de entrega: ' + ${#numbers.formatCurrency(restaurante.taxaEntrega)}"></span><br>
	            </a>
	            <br/><br/>
	        </div> 
	    </div>
	    
	    <br />
	    <div th:if="${restaurantes.size() == 0}">
	    	<span>Ops! Nenhum restaurante encontrado.</span>
	    </div>
	    <br />
	
	    <input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/cliente/home} + '\';'"/>
	</div>
   
</body>
</html>